body {
  background-color: #fcf3cf;
}

#root {
  margin: 20px;
  padding: 30px;
  background-color: #d1f2eb;
  height: 100%;
}

#greeting {
  font-size: 48px;
  text-align: center;
}

h1 {
  margin: 5px;
}

h2 {
  margin: 5px;
}

#order div {
  margin: 5px 5px 5px 20px;
}

ul {
  list-style-type: none;
}

ul.navbar {
  padding: 0px;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  padding: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

ul.navbar li a:hover {
  background-color: blue;
}

#submitted {
  margin: 30px;
  text-align: center;
}
